prod.env
.vscode
*.pyc*
*.DS_Store*
*node_modules

application/frontend-chakra/example
application/frontend-chakra/*lock*
application/frontend-chakra/README.md

# TODO - Figure out a better workaround long term
emailConfig.js
