prod.env
.vscode
*.pyc*
*.DS_Store*
*node_modules
infra/.terraform*
infra/out

application/frontend-chakra/example
application/frontend-chakra/*lock*
application/frontend-chakra/README.md
application/frontend-chakra/build
